h1 {
    color: red;
    text-align: center;
    font-size: 100px;
}

h2 {
    color: red;
    text-align: center;
    font-size: 60px;
}

body {
    background-color: black;
}

h4 {
    color: white;
    text-align: center;
    font-size: 45px;
}

h4 {
    color: white;
    text-align: center;
    font-size: 35px;
}

h5 {
    color: white;
    font-size: 29px;
    text-align: center;
}

h6 {
    color: white;
    font-size: 20px;
    text-align: center;
}

/*
.Pic1 {
    width: 150px;
    height: 200px;

}

.Pic2 {
    width: 100px;
    height: 150px;
}

.Pic3 {
    width: 125px;
    height: 100px;
}

.Pic4 {
    width: 100px;
    height: 100px;
}
*/
img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}